@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: MyCustomFont;
  background-color: #ffffff;
  overflow-x: hidden;
  color: black;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('/font/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
}




